* {
	padding: 0;
	margin: 0;
	outline: 0;
}

html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#container {
	display: flex;
	overflow: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	transform-origin: 0px 0px;
	transform: scale(1) translate(0px, 0px);
}

#image,
#media {
	width: auto;
	height: auto;
}

#image:hover,
#media:hover {
	cursor: grab;
}

#image:active,
#media:active {
	cursor: grabbing;
}

#media {
	max-width: 100%;
	max-height: 100%;
}